<div class="container">
  <div class="row">
    <!-- Card Principal para Exibir Dados do Morador -->
    <div class="col-md-12">
      <div class="card" style="border-radius: 10px; padding: 2rem;">
        <h1>Detalhes do Morador</h1>

        <!-- Informações Básicas -->
        <ul class="details-list">
          <li><strong>Nome:</strong> {{ morador?.nome }}</li>
           <li><strong>Idade:</strong> {{ morador?.idade }}</li>
          <li><strong>CPF:</strong> {{ morador?.cpf }}</li>
          <li><strong>RG:</strong> {{ morador?.rg }}</li>
          <li><strong>Endereco:</strong> {{ morador?.endereco }}</li>
        </ul>

        <!-- Enfatizar Status -->
        <div class="status-section">
          <h3>Status:</h3>
          <p class="status {{ morador?.ativo ? 'active' : 'inactive' }}">
            {{ morador?.ativo ? 'Ativo' : 'Inativo' }}
          </p>
        </div>

        <!-- Outras Informações -->
        <ul class="details-list">
          <li><strong>sexo:</strong> {{ morador?.nacionalidade }}</li>
       
          <li><strong>Observações:</strong> {{ morador?.observacoes }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
