<div class="container">
  <div class="left-section">
    <h1>{{ nomeAlojamento }}</h1>
    <img [src]="imagemAlojamento" alt="Imagem do Alojamento" class="alojamento-image" />
  </div>
  
  <div class="right-section">
    <h2>Escolhas</h2>
    <form>
      <div class="form-group">
        <label for="pet">Pet:</label>
        <select id="pet">
          <option value="cao">Cão</option>
          <option value="gato">Gato</option>
          <option value="outro">Outro</option>
        </select>
      </div>

      <div class="form-group">
        <label for="sexo">Sexo:</label>
        <select id="sexo">
          <option value="macho">Macho</option>
          <option value="femea">Fêmea</option>
        </select>
      </div>

      <div class="form-group">
        <label for="sobrenome">Área de lazer:</label>
        <input type="text" formControlName="Pertences" id="sobrenome" class="form-control" style="width: 150px;">
      </div>
      <div class="form-group">
        <label for="sobrenome">Pertences:</label>
        <input type="text" formControlName="Pertences" id="sobrenome" class="form-control" style="width: 150px;">
      </div>

      <div class="form-group">
        <label for="Refeiçöes">Refeiçöes:</label>
        <select id="Refeiçöes">
          <option value="manha">7:00 as 10:00</option>
          <option value="tarde">12:00 as 17:00</option>
          <option value="noite">19:00 as 22:00</option>
        </select>
      </div>

      <div class="form-group">
        <label for="horario">Horário:</label>
        <select id="horario">
          <option value="manha">Manhã</option>
          <option value="tarde">Tarde</option>
          <option value="noite">Noite</option>
        </select>
      </div>

      <div class="form-group">
        <label for="sobrenome">Acolhimento:</label>
        <input type="text" formControlName="Pertences" id="sobrenome" class="form-control" style="width: 150px;">
      </div>

      <div class="form-group">
        <label for="programas">Programas:</label>
        <input type="checkbox" id="programas" />
      </div>
    </form>
  </div>
</div>