
<h1>Cadastrar Moradores</h1>
<div class="container">

    <form [formGroup]="form" (ngSubmit)="cadastrarMorador()">

      <!--Sessão de cima-->
      <div class="primeira">
      <div class="form-group" >
        <label for="nome">Nome:</label>
        <input type="text" formControlName="nome" id="nome" class="form-control" style="width: 250px;">
      </div>
      <div class="form-group">
        <label for="sobrenome">Sobrenome:</label>
        <input type="text" formControlName="sobrenome" id="sobrenome" class="form-control" style="width: 250px;">
      </div>
      <div class="form-group">
        <label for="rg">RG</label>
        <input type="rg" formControlName="rg" id="rg" class="form-control" style="width: 250px; ">
      </div>
    </div>
    <!--sessao meio-->
    <div class="segunda">
      <div class="form-group">
        <label for="CPF">CPF:</label>
        <input type="CPF" formControlName="CPF" id="CPF" class="form-control" style="width: 250px;" >
      </div>
      <div class="form-group">
        <label for="dtnscimento">Data de nascimento:</label>
        <input type="dtnscimento" formControlName="dtnscimento" id="dtnscimento" class="form-control" style="width: 250px;">
      </div>
      <div class="form-group">
        <label for="Sexo">Sexo:</label>
        <input type="Sexo" formControlName="Sexo" id="Sexo" class="form-control" style="width: 250px; ">
      </div>
     </div>
     <!--Sessão Final-->
      <div class="terceira">
        <div class="form-group">
          <label for="telefone">Telefone:</label>
          <input type="text" formControlName="telefone" id="telefone" class="form-control" style="width: 250px;">
        </div>
        <div class="form-group">
          <label for="endereco">Endereço:</label>
          <input type="text" formControlName="endereco" id="endereco" class="form-control" style="width: 250px;">
        </div>
        <div class="form-group">
          <label for="email">E-mail:</label>
          <input type="email" formControlName="email" id="email" class="form-control" style="width: 250px; ">

        </div>
      </div>
      <!--Div botões -->
      <div class="btnbtn">
      <button type="submit" class="btn btn-primary" style=" width: 150px;">Salvar</button>
      <button type="button" class="btn btn-primary" (click)="voltar()" style=" right: 50px; width: 150px;">Voltar</button>
    </div>
