<h1>Alojamentos</h1>
<div class="alojamentos">
      <div *ngFor="let alojamento of alojamentos">
      <td class="table" style="display: flex; height: 65px; border: solid black; background-color: white; ">
        {{ alojamento.nome }}
        {{ alojamento.numeroMoradores }}
        {{ alojamento.descricao }}
      <div style="padding-left: 15px; "><button (click)="(alojamentos)" routerLink="cadastrarmoradores" style=" width: 260px;height: 45px; background-color: rgba(0, 117, 102, 1); color: white;">Inserir Novo Morador </button></div>
      <div style="padding-left: 15px;"><button (click)="(alojamentos)" routerLink="DetalhesAlojamanto" style=" width: 260px;height: 45px; background-color: rgba(0, 117, 102, 1); color: white;">Detalhes</button></div>
      <div style="padding-left: 15px;"><button (click)="(alojamentos)" routerLink="Localização" style=" width: 260px;height: 45px; background-color: rgba(0, 117, 102, 1); color: white;">Localização</button></div></td>
    </div>

</div>
