h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.container-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex; /* Mantém os botões na mesma linha */
  justify-content: center; /* Alinha os botões ao centro */
  align-items: center;
  height: 5rem;
  margin-bottom: 3rem;
  gap: 20px; /* Espaço entre os botões */
}

.center-button {
  padding: 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007566;
}

button {
  padding: 12.5px 30px;
  border: 0;
  border-radius: 100px;
  background-color: #007566;
  color: #ffffff;
  font-weight: bold;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  box-shadow: 0 0 20px #6fc5ff50;
  transform: scale(1.1);
}
