*{
  background-color: #e1f1f0;
}
/* Adicione uma classe específica para os containers que você deseja centralizar */
.container-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* ajuste a altura conforme necessário */
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  margin-bottom: 3rem;
}

.center-button {
  padding: 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007566;

}

/* Adicione uma classe para o componente app-card-produto */
.app-card-produto-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8rem;
}

.app-card-produto {
  /* adicione estilos para o componente app-card-produto */
  width: 300px; /* ajuste a largura conforme necessário */
  height: 200px; /* ajuste a altura conforme necessário */
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
}
.primeira {
  display: flex;
}

button {
  padding: 12.5px 30px;
  border: 0;
  border-radius: 100px;
  background-color: #007566;
  color: #ffffff;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

button:hover {

  box-shadow: 0 0 20px #6fc5ff50;
  transform: scale(1.1);
}

