/* Adicione uma classe específica para os containers que você deseja centralizar */
.container-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* ajuste a altura conforme necessário */
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  margin-bottom: 3rem;
}

.center-button {
  padding: 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  transition: background-color 0.3s;
}

.center-button:hover {
  background-color: #0056b3;
}

/* Adicione uma classe para o componente app-card-produto */
.app-card-produto-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8rem;
}

.app-card-produto {
  /* adicione estilos para o componente app-card-produto */
  width: 300px; /* ajuste a largura conforme necessário */
  height: 200px; /* ajuste a altura conforme necessário */
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
}
