<div class="nav fixed-bottom navbar-light bg-light justify-content-center">
  <section id="my-projects" class="fourth-section">
    <h2 class="title">Contatos</h2>
    <ul>
      <li><a href="mailto:Oasis@Gmail.com">OasisGmail.com</a></li>
      <li><a href="tel:+5511999999999">+55 11 99999-9999</a></li>
      <li><a href="https://www.linkedin.com/in/seu-perfil" target="_blank">LinkedIn</a></li>
      <li><a href="https://github.com/seu-perfil" target="_blank">GitHub</a></li>
    </ul>
  </section>
</div>
  