footer{ /*Parte de baixo/ contatos*/
  gap: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  }

  footer > div{
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;

  }
