h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.container-center {
  display: flex;
  flex-direction: column; /* Mantém a coluna */
  justify-content: center;
  align-items: center;
  height: 100vh; /* ajuste a altura conforme necessário */
}

.button-container {
  display: flex; /* Mantém os botões na mesma linha */
  justify-content: flex-end; /* Alinha os botões à direita */
  align-items: center;
  height: 5rem;
  margin-bottom: 3rem;
  width: 100%; /* Garante que ocupe toda a largura */
}

.center-button {
  padding: 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007566;
}
