.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.morador-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  width: 300px; /* Definindo uma largura fixa para cada item */
}

.morador-info {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.morador-actions {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Para que os botões se estendam */
}

.btn-novo-morador, .btn-detalhes, .btn-localizacao {
  width: 100px; /* Tamanho fixo para os botões */
  height: 40px;
  background-color: rgba(0, 117, 102, 1);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.btn-novo-morador:hover, .btn-detalhes:hover, .btn-localizacao:hover {
  background-color: rgba(0, 117, 102, 0.8);
}
