<h1>Moradores</h1>
<div class="container">
  <div *ngFor="let morador of moradores" class="morador-item">
    <div class="morador-info">
      {{ morador.nome }} - {{ morador.albergue }} - {{ morador.cpf }}
    </div>
    <div class="morador-actions">
      <button (click)="novoMorador()" routerLink="/cadastrarmoradores" class="btn-novo-morador">Novo Morador</button>
      <button (click)="detalhesAlojamento(morador)" routerLink="/detalhesmoradores" class="btn-detalhes">Detalhes</button>
      <button (click)="localizacao(morador)" routerLink="Localização" class="btn-localizacao">Localização</button>
    </div>
  </div>
</div>
